$main-clr: #000;
$second-cLr: #fff;
$third-cLr: #474747;
$fourth-cLr: #c5c4c4;
$decoration-clr: #AE5F3D;
$decoration-second-clr: #737373;
$decoration-hover-clr: #8b4c30;
$header-clr: rgba(32, 83, 80, .5);
$section-clr: #F1F1F1;
$sticker-clr: #F24040;